.all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.App-header {
    background: rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
    padding-left: 30px;
    color: white;
}
.form{
    width: 400px;
    height: 400px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 30px;
}
.Logo{
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.inp1{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.bb{
    background: white;
    width: 310px;
    height: 50px;
    border-radius: 30px;
}
.input1{
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 300px;
    height: 45px;
    background: 0 0;
    padding: 0 5px;
    border-radius: 30px;
}
.account{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media(max-width:1349px){
    body{
        width: max-content;
    }
    div{
        width: 1300px;
        padding-left: 50px;
    }
}